{% extends "layout.html" %}

{% block content %}
    <h1>Employee positions</h1>
    {% if user.is_superuser %}
        <h2>Add employee position</h2>
        <li><a href="{% url 'add_employee_position' %}">Add employee positions</a></li>
    {% endif %}
    
    {% for position in employee_positions %}
        <div >
            <h2>Position name: {{ position.name }}</h2>
            <p>Position salary: {{ position.salary }}</p>
            {% if user.is_superuser %}
                <a href="{{ position.get_absolute_url_for_delete }}">Delete</a>
                <a href="{{ position.get_absolute_url_for_update}}">Update</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}